apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: dd-site
spec:
  template:
    spec:
      containers:
        - image: dd-site
          ports:
            - containerPort: 8080
          env:
            - name: NODE_ENV
              value: production
